<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websearch</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body class="max-w-full bg-slate-50">
    <div class="grid place-items-center h-full w-full">
        <main class="contianer w-full max-w-md text-center p-4">
            <h1 class="text-5xl md:text-6xl font-bold">websearch</h1>
            <div class="md:text-xl pt-1">Let's build a search engine, just for fun 🥳</div>
            <form action="/" method="get" style="margin-top: 1em;">
                <input autofocus class="p-3 text-xl w-full rounded-lg drop-shadow-md" type="text" name="q">
            </form>
        </main>
        <div></div>
    </div>
</body>

</html>